<h1>Edit Cmompany</h1>

<%= form_for :company, url: company_path(@company), method: :patch do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<br/>
<%= link_to 'Back', companies_path %>
