<h1>Companies</h1>

<%=link_to 'New Company', new_company_path %><br><br>

  <table>
    <tr>
      <th></th>
      <th></th>
    </tr>

    <% @companies.each do |company| %>
      <tr>
        <td width="300"><%= link_to company.name, company_path(company) %></td>
        <td>
        Operations count: <%= company.operations.count %>
        Total amount: <%= company.total_amount %>
        Average amount: <%= company.operations.average(:amount).round(2) if company.operations.average(:amount) %>
        Maximum amount: <%= company.operations.maximum(:amount) %>
        Maximum amount of current month: <%= company.operations.where("operation_date >= ?", Date.today.at_beginning_of_month).maximum(:amount) %>
        Accepted operations: <%= company.operations.where(status: "accepted").count %>
        </td>
      </tr>

      <table>
        <tr>
          <th width="50">invoice nom</th>
          <th width="100">invoice date</th>
          <th width="100">operation date</th>
          <th width="20">amount</th>
          <th width="150">reporter</th>
          <th width="200">notes</th>
          <th width="100">status</th>
          <th width="100">kind</th>
        </tr>
        <% company.operations.each do |operation| %>
          <tr>
            <td><%= operation.invoice_num %></td>
            <td><%= operation.invoice_date %></td>
            <td><%= operation.operation_date %></td>
            <td><%= operation.amount %></td>
            <td><%= operation.reporter %></td>
            <td><%= operation.notes %></td>
            <td><%= operation.status %></td>
            <td><%= operation.kind %></td>            
          </tr>
        <% end %>
      </table>
    <% end %>
  </table>
