<h1><%= @company.name %></h1>

Operations count: <%= @company.operations.count %><br>
Total amount: <%= @company.total_amount %><br>
Average amount: <%= @company.operations.average(:amount).round(2) if @company.operations.average(:amount) %><br>
Maximum amount: <%= @company.operations.maximum(:amount) %><br>
Maximum amount of current month: <%= @company.operations.where("operation_date >= ?", Date.today.at_beginning_of_month).maximum(:amount) %><br>
Accepted operations: <%= @company.operations.where(status: "accepted").count %><br>
<hr>
<table>
  <tr>
    <th width="50">invoice nom</th>
    <th width="100">invoice date</th>
    <th width="100">operation date</th>
    <th width="20">amount</th>
    <th width="150">reporter</th>
    <th width="200">notes</th>
    <th width="100">status</th>
    <th width="100">kind</th>
    <th width="100"></th>
    <th width="100"></th>
  </tr>
  <% @company.operations.each do |operation| %>
    <tr>
      <td><%= operation.invoice_num %></td>
      <td><%= operation.invoice_date %></td>
      <td><%= operation.operation_date %></td>
      <td><%= operation.amount %></td>
      <td><%= operation.reporter %></td>
      <td><%= operation.notes %></td>
      <td><%= operation.status %></td>
      <td><%= operation.kind %></td>
      <td>
      <% operation.categories.each do |category| %>
        <%= link_to category.name, category_path(category) %>
      <% end %>
      </td>
      <td>
      <%= link_to 'Delete', [operation.company, operation],
                 method:  :delete,
                 data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
  <h3>Add new operation</h3>
  <%= simple_form_for([@company, @company.operations.build]) do |f| %>
    <%= f.input :invoice_num %>
    <%= f.input :invoice_date %>
    <%= f.input :operation_date %>
    <%= f.input :amount %>
    <%= f.input :reporter %>
    <%= f.input :notes %>
    <%= f.input :status, collection: ['accepted','denied'], as: :radio_buttons %>
    <%= f.input :kind %>
    <%= f.association :categories, as: :check_boxes %><br>
    <%= f.button :submit %>
  <% end %>


<br/>
<%= link_to 'Back', companies_path %>
<%= link_to 'Edit', edit_company_path(@company) %>
     
