<h1>Operations</h1>

<%= search_form_for @search, url: search_operations_path, method: :post do |f| %>
  <b>Search by: </b><br>
    <%= f.label :invoice_num %>
    <%= f.text_field :invoice_num_eq %>
    <br>
    <%= f.label :reporter_or_status_or_kind_cont, "Reporter, Status or Kind" %>
    <%= f.text_field :reporter_or_status_or_kind_cont %>
    <br>
    <%= f.label :amount_gteq, "Amount between" %>
    <%= f.text_field :amount_gteq %>
    <%= f.label :amount_lteq, "and" %>
    <%= f.text_field :amount_lteq %>
    <br>
    <%= f.collection_check_boxes :categories_id_eq_any, Category.order(:name), :id, :name %>
    <br>
    <%= f.submit "Search" %> 

    <%= link_to ' Clear', operations_path %>
    
<% end %>

      <table>
        <tr>

          <th width="200"><%= sort_link @search, :company_name, "Company" %></th>
          <th width="100"><%= sort_link @search, :invoice_num, "invoice" %></th>
          <th width="150"><%= sort_link @search, :invoice_date, "invoice date" %></th>
          <th width="150"><%= sort_link @search, :operation_date, "operation date" %></th>
          <th width="100"><%= sort_link @search, :amount, "amount" %></th>
          <th width="150"><%= sort_link @search, :reporter, "reporter" %></th>
          <th width="200"><%= sort_link @search, :notes, "notes" %></th>
          <th width="100"><%= sort_link @search, :status, "status" %></th>
          <th width="100"><%= sort_link @search, :kind, "kind" %></th>
          <th width="200"><%= sort_link @search, :categories, "categories" %></th>
          <th width="100"></th>
        </tr>
        <% @operations.each do |operation| %>
          <tr>

            <td><%= link_to operation.company.name, company_path(operation.company) %></td>
            <td><%= link_to operation.invoice_num, operation_path(operation) %></td>
            <td><%= operation.invoice_date %></td>
            <td><%= operation.operation_date %></td>
            <td><%= operation.amount %></td>
            <td><%= operation.reporter %></td>
            <td><%= operation.notes %></td>
            <td><%= operation.status %></td>
            <td><%= operation.kind %></td>
            <td>
            <% operation.categories.each do |category| %>
              <%= link_to category.name, category_path(category) %>
            <% end %>
            </td>
            <td><%= link_to 'Destroy', operation_path(operation),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
            </td>        
          </tr>
        <% end %>
      </table>
      <hr>
  